.book_img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card{
    border: none !important;
    box-shadow: rgba(0,0,0,0.2) 0px 18px 50px -10px;
}
.book_img{
    position: relative;
}
.book_img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    color: #fff;
    background: var(--primary-color);
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}
.card_top span i {
    color: var(--secondary-color);
}
.book_location{
    color: var(--heading-color);
    font-weight: 500;
    font-size: 0.9rem;
}
.book_rating i, .book_location i{
    font-size: 1rem;
}
.book_title {
  margin-bottom: 1rem;
  font-size: 1.1rem;
cursor: pointer;
}
.book_title a{
    text-decoration: none;
    color: var(--heading-color);
    transition: .3s;
}
.book_title a:hover{
    color: var(--secondary-color);
}
.card_bottom h5 {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 700;
}
.card_bottom h5 span {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 500;
  }
  .booking_btn {
    background-color: var(--secondary-color) !important ;
   cursor: pointer;
   padding: 0.2em 0.5em  !important;
    font-size: .9rem;
    color: #fff;
  }
  .booking_btn a {
   text-decoration: none;
    font-size: .9rem;
    color: #fff;
  }
  .booking_btn a:hover {
     color: #fff;
   }
  