.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo img{
    width: 12%;
   
}
.menu {
  margin-bottom: 0;
}
.nav_item a {
     text-decoration: none;
     color: var(--heading-color);
     font-weight: 500;
     font-size: 1.1rem;
}
.nav_item a:hover { 
    color: inherit; 
}
.nav_item a.active_link {  
    color: var(--secondary-color); 
}
.logo i {
font-size: 1.5rem;
font-weight: 500;
}
.logo i span{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--secondary-color);
    font-family: var(--subtitle-font-name);
    }
.mobile_menu {
  font-size: 1.3rem;
  display: none;
  cursor: pointer;
  color: var(--heading-color);
}
.sticky_header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #fff;
    left: 0;
    top: 0;
    position: sticky;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}